.left-sidebar {
  padding: 1rem 2rem;
  margin: 0;
  background-color: var(--color-bg-primary);
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 5rem;
  width: 250px;
  height: fit-content;
  overflow-y: auto;
  transition: left 0.3s ease;
}

.left-sidebar.open {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-right: 1px solid var(--color-ui);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 200px;
  height: 100dvh;

  .close-sidebar {
    display: block;
    align-self: flex-end;
  }
  ul {
    gap: 1rem;
  }
}

.left-sidebar ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.left-sidebar ul li a {
  text-decoration: none;
  color: var(--color-text-primary);
  cursor: pointer;
}

.left-sidebar ul li a:hover {
  color: var(--color-primary);
  transition: color 0.3s ease;
}

.close-sidebar {
  display: none;
}

@media (min-width: 513px) {
  .left-sidebar {
    display: flex;
  }
}

@media (max-width: 512px) {
  .left-sidebar {
    position: absolute;
    left: -1000px;
  }
}
