.left-sidebar {
  padding: 1rem 2rem;
  margin: 1rem 0;
  background-color: var(--color-bg-primary);
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 4rem;
  width: 150px;
  height: fit-content;
  overflow-y: auto;
  transition: left 0.3s ease;
}

.left-sidebar.open {
  margin: 0;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-right: 1px solid var(--color-ui);
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: calc(100dvh - 2rem);

  .close-sidebar {
    display: block;
    align-self: flex-end;
    margin-bottom: 1.6rem;
  }
  ul {
    gap: 1rem;
  }
}

.left-sidebar ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.left-sidebar ul li a {
  display: block;
  text-decoration: none;
  color: var(--color-text-primary);
  cursor: pointer;

  transition: color 0.3s ease;
}

.left-sidebar ul li a:hover {
  color: var(--color-primary);
}

.close-sidebar {
  display: none;
}

:root.tablet,
:root.mobile {
  .left-sidebar:not(.open) {
    position: absolute;
    left: -1000px;
  }
}

:root:not(.tablet):not(.mobile) {
  .left-sidebar {
    display: flex;
  }
}
