@tailwind base;
@tailwind components;
@tailwind utilities;

.text-heading {
  @apply font-semibold;
  @apply text-black/85 dark:text-white/85;
}

.text-body {
  @apply text-black/75 dark:text-white/75;
}

html {
  overflow-y: scroll;
  color-scheme: light;
}

html.dark {
  color-scheme: dark;
}

html,
body {
  @apply size-full;
}

body {
  @apply font-sans antialiased;
  @apply flex flex-col;
  @apply bg-stone-100 dark:bg-stone-900;
  @apply text-body;
}

header {
  @apply fixed top-0 left-0 right-0 z-50 py-5;
  @apply bg-stone-100/75 dark:bg-stone-900/25;
  @apply backdrop-blur-sm saturate-200;
}

main {
  @apply flex-1 py-32;
}

footer {
  @apply py-5 text-sm;
}

article {
  @apply max-w-full prose dark:prose-invert prose-img:mx-auto prose-img:my-auto;
  @apply prose-headings:font-semibold prose-headings:font-serif;
  @apply prose-headings:text-black/85 dark:prose-headings:text-white/85;
  @apply prose-p:text-black/75 dark:prose-p:text-white/75;
}

@layer utilities {
  article a {
    @apply text-current underline underline-offset-2;
    @apply decoration-black/15 dark:decoration-white/30;
    @apply transition-colors duration-300 ease-in-out;
  }
  article a:hover {
    @apply text-black dark:text-white;
    @apply decoration-black/25 dark:decoration-white/50;
  }
}

.animate {
  @apply opacity-0 translate-y-3;
  @apply transition-all duration-700 ease-out;
}

.animate.show {
  @apply opacity-100 translate-y-0;
}

html #back-to-top {
  @apply opacity-0 pointer-events-none;
}

html.scrolled #back-to-top {
  @apply opacity-100 pointer-events-auto;
}

html *::selection {
  background-color: #0000001f;
}

html.dark *::selection {
  background-color: #ffffff1a;
}

.astro-code::selection,
.astro-code *::selection {
  background-color: #334455;
}

.zoom-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 1000;
}
.zoom-overlay img {
  max-width: 90%;
  max-height: 90%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.zoom-overlay.active {
  opacity: 1;
  pointer-events: auto;
}
.zoomable-img {
  cursor: zoom-in;
  transition: transform 0.3s;
}
