@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Sans+SC:wght@100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
:root {
  --color-bg-primary: #000000;
  --color-bg-inverted: #ffffff;
  --color-text-primary: #cfced9;
  --color-text-inverted: #010103;
  --color-primary: #bc8cff;
  --color-primary-darker: #8e3dff;
  --color-secondary: #79a9ec;
  --color-secondary-darker: #3a81e3;
  --color-tertiary: #ff8f40;
  --color-tertiary-darker: #df5c00;
  --color-ui: #666664;
  --color-ui-darker: #4f4f4e;
  --max-width: 800px;
  font-size: 18px;
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
  height: 100dvh;
  transition: color 0.5s ease;
}

:root.light-mode {
  --color-bg-primary: var(--color-bg-inverted);
  --color-text-primary: var(--color-text-inverted);
  --color-primary: var(--color-primary-darker);
  --color-secondary: var(--color-secondary-darker);
  --color-tertiary: var(--color-tertiary-darker);
  --color-ui: var(--color-ui-darker);
}

.App {
  font-family: "Source Sans 3", "Noto Sans JP", "Radio Canada", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

span.prim {
  color: var(--color-primary);
}

span.sec {
  color: var(--color-secondary);
}

span.tert {
  color: var(--color-tertiary);
}

main {
  padding: 0;
  display: flex;
  align-items: stretch;
  justify-content: center;
  height: 100%;
  min-height: calc(100dvh - 6rem);
}

.main-container {
  position: relative;
  padding: 1rem 2rem;
  width: calc(100% - 20px);
  max-width: var(--max-width);
  height: 100%;
}

.button {
  user-select: none;
  -webkit-user-select: none;
  font-size: 1rem;
  text-align: center;
  border: 1px solid var(--color-ui);
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  filter: brightness(85%);
}

.ja,
.zh {
  font-size: 0.9em;
}

.ja {
  font-family: "Noto Sans JP";
}

.zh {
  font-family: "Noto Sans SC";
}

a {
  color: var(--color-secondary);
}

:root:not(.tablet):not(.mobile) {
  .sidebar-toggle {
    display: none;
  }
}

:root.mobile {
  font-size: 14px;
}
